@using EventsZilla.Core
@model EventsZilla.ViewModels.HomepageViewModel
@{
    ViewBag.Title = "HomePage";
}

@Model.Content

  <div class="holder_content1">
    <section class="group4">
   <h3>Next event</h3>
@if (Model.NextEvent != null)
{
    @Html.Html5EventDateTimeTag(Model.NextEvent.StartsAt, Model.NextEvent.EndsAt)
    <a href="@Url.Action("Index", "Event", new { id = Model.NextEvent.Id, slug = Model.NextEvent.Slug })"><h4>@Model.NextEvent.Title</h4></a>
	@Model.NextEvent.Description.CompiledMarkdownContent()
}
else
{
	<p>There are no events planned at the moment</p>
}
	</section>

   <section class="group5">
   <h3>Past events</h3>
@if (Model.PastEvents != null && Model.PastEvents.Count > 0)
{
    foreach (var e in Model.PastEvents)
    {
        <a href="@Url.Action("Index", "Event", new { id = e.Id, slug = e.Slug })"><h4>@e.Title</h4></a>
        @Html.Html5EventDateTimeTag(e.StartsAt, e.EndsAt)
        
        @e.Description.CompiledMarkdownContent()
    }
}
else
{
	<p>No events to show</p>
}
	</section>
    </div>