@using EventsZilla.Core
@using EventsZilla.Models
@model EventRegistration

<div>
    <h3>Register now</h3>
    @{ using (Html.BeginForm("Register", "Event", new {id = Model.EventIntId()}, FormMethod.Post))
       {
        <p>@Html.LabelFor(x => x.RegistrantName) @Html.EditorFor(x => x.RegistrantName)</p>
        <p>@Html.LabelFor(x => x.RegistrantEmail) @Html.EditorFor(x => x.RegistrantEmail)</p>
        @Html.HiddenFor(x => x.EventId)

        <p><input type="submit" value="Register" /></p>
       }
    }
</div>